<div>
    <form>
        <table>
            <tr>
                <th><label>First Name: </label></th>
                <td><input type="text" name="firstname" placeholder="Enter First Name" [(ngModel)]="firstname" /></td>
            </tr>
            <tr>
                <th><label>Last Name: </label></th>
                <td><input type="text" name="lastname" placeholder="Enter Last Name" [(ngModel)]="lastname" /></td>
            </tr>
            <tr>
                <th><label>Email: </label></th>
                <td><input type="email" name="email" placeholder="Enter Email" [(ngModel)]="email" /></td>
            </tr>
            <tr>
                <th><label>Password: </label></th>
                <td><input type="password" name="password" placeholder="Enter Password" [(ngModel)]="password" /></td>
            </tr>
            <tr>
                <th><label>Confirm Password: </label></th>
                <td><input type="password" name="confirmPassword" placeholder="Confirm Password" [(ngModel)]="confirmPassword" /></td>
            </tr>
        </table>
        <button class="btn btn-primary" type="submit" (click)="registerUserHandler()">Submit</button>
        <button class="btn btn-warning" type="reset">Clear</button>
        <button class="btn btn-danger" type="button" (click)="cancelHandler()">Cancel</button>
    </form>
</div>