<app-navbar (formEventEmitter)="formIsVisible()"></app-navbar>

<app-habit-subscribe></app-habit-subscribe>
<app-browse-habits></app-browse-habits>
<app-create-habit></app-create-habit>
<app-view-my-habits></app-view-my-habits>

<!-- <app-habit-list [habits]="habitsFromParent"></app-habit-list>
<div >
    <app-habit-form *ngIf="isVisible"></app-habit-form>
</div> -->

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Reward</button>

<app-reward-popup></app-reward-popup>