<div>
  <div>
    <h1>{{ title }}</h1>
    <hr />
  </div>
  <div>
    <div [ngSwitch]="state">
      <div *ngSwitchCase="'register'">
        <app-register (cancelInput)="cancelHandler()"></app-register>
      </div>
      <div *ngSwitchCase="'login'">
        <app-login (cancelInput)="cancelHandler()"></app-login>
      </div>
      <div *ngSwitchDefault>
        <p class="fs-4">
          "The law of harvest is to reap more than you sow. Sow an act, and you reap a habit. Sow a habit and you reap a character. Sow a character and you reap a destiny."
        </p>
        <p class="fs-6">
          <b>James Allen</b>
        </p>
        <button type="button" class="btn btn-primary" name="register" (click)="clickHandler($event)">Register</button>
        <button type="button" class="btn btn-primary" name="login" (click)="clickHandler($event)">Login</button>
      </div>
    </div>
  </div>
</div>