<div>
    <p class="fs-4">
        Welcome Back!
    </p>
    <form>
        <table>
            <tr>
                <th><label>Email: </label></th>
                <td><input type="text" name="email" placeholder="Enter Username" [(ngModel)]="email" /></td>
            </tr>
            <tr>
                <th><label>Password: </label></th>
                <td><input type="password" name="password" placeholder="Enter Password" [(ngModel)]="password" /></td>
            </tr>
        </table>
        <button class="btn btn-primary" type="submit" (click)="loginUserHandler()">Submit</button>
        <button class="btn btn-warning" type="reset">Clear</button>
        <button class="btn btn-danger" type="button" (click)="cancelHandler()">Cancel</button>
    </form>
</div>