.create-habit{
    display: block;
    margin: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.24), rgba(255, 255, 255, 0.26),rgba(0, 0, 0, 0.24),rgba(0, 128, 0, 0.253), rgba(0, 0, 0, 0.24), rgba(255, 255, 255, 0.233), rgba(0, 0, 0, 0.24));
    border-radius: 20px;
}
.create-habit form{
    padding: 20px;
    text-align: center;
}
.create-habit h2{
    color: yellow;    
    text-shadow: purple 1px 0 5px;
    padding: 20px;
}
.create-habit button{
    color: green;
    background: yellow;
    box-shadow: red 0px 0px 30px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    border: 10px blue;
}