<div class="container text-center">
  <div class="row align-items-center">
    <div class="col-10">
      <table>
        <tr>
          <th><h1>{{ title }}</h1></th>
        </tr>
        <tr>
          <td>
            <button type="button" class="btn btn-primary" name="register" (click)="onClick($event)">Register</button>
            <button type="button" class="btn btn-primary" name="login" (click)="onClick($event)">Login</button>
          </td>
          <td></td>
        </tr>
      </table>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>