
          <form>
            <table>
              <tr>
                <th><label>Reward Name: </label></th>
                <td><input type="text" name="name" [(ngModel)]="name" /></td>
              </tr>
              <tr>
                <th><label>Reward Description: </label></th>
                <td>
                  <input
                    type="text"
                    name="description"
                    [(ngModel)]="description"
                  />
                </td>
              </tr>
              <tr>
                <th><label>Reward Cost: </label></th>
                <td><input type="text" name="cost" [(ngModel)]="cost" /></td>
              </tr>
            </table>
            <button
              class="btn btn-primary"
              type="submit"
              (click)="createUserReward()"
            >
              Submit
            </button>
            <button class="btn btn-warning" type="reset">Clear</button>
          </form>
        